<%
    title = 'My Book Spy'
    if content_for? :title
      title += " - #{yield(:title)}"
    end
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render("layouts/javascript") %>
</body>
</html>
